/* This file is for your main application css. */

body {
    background-color: #eedefc !important;
}

.todo-box-container {
    margin-top: 20px;
    margin-bottom: 6px;
}

.todo {
    color: #330b4c;
    border: 2px solid #330b4c;
    border-radius: 3px;
    background-color: white;
    padding: 8px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 29%;
    overflow: hidden;
}

.todo-name {
    margin-left: 10px;
}

.todo-checkbox {
    float: left;
}

.todo-text {
    float: right;
}